<div class="sidebar" id="sidebar"
    [ngClass]="_ABMFObjectClassService.inputSideStatus ? 'sidebar-tab-active' : 'side-tab-deactive'">

    <div class="scroll-div mb-5">
        <ul class="sidebar-main-style">
            @for (mainMenu of HeaderClasss; track $index) {
            @if (mainMenu.login_type_visible) {
            <li id="{{mainMenu.id}}" [ngClass]="active_route == mainMenu.id ? 'sidebar-active_route' : 'sidebar-active'"
                (click)="toggleChildren(mainMenu)">
                @if (mainMenu.menu?.length) {
                <a [ngClass]="mainMenu.visible === true ? 'hide-drop-icon': 'show-drop-icon' ">
                    <img alt={{mainMenu.id}} class="side-icon me-2" src="{{mainMenu.icon}}">{{mainMenu.name}}
                </a>
                }
                @if (!mainMenu.menu?.length) {
                <a>
                    <img alt={{mainMenu.id}} class="side-icon me-2" src="{{mainMenu.icon}}">{{mainMenu.name}}
                </a>
                }
                <app-sidebar-tree [data]="mainMenu.menu" *ngIf="mainMenu.visible"></app-sidebar-tree>
            </li>
            }
            }
        </ul>
    </div>
</div>