/* Reset */

#menu-wrapper {
    width: 100%;
    background: #006699;
    height: 44px;
}

.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.nav a {
    text-decoration: none;
    font-size: .9em;
}

.nav li {
    list-style: none;
}


/* Menu Container */

ul.nav {
    list-style-type: none;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
}


/* ul.nav li {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
} */

.nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;
}


/* Menu List */

.nav>li {
    display: block;
    float: left;
    cursor: pointer;
}


/* Menu Links */

.nav>li>a {
    position: relative;
    display: block;
    z-index: 510;
    /* height: 54px; */
    padding: 9px 20px;
    /* line-height: 54px; */
    color: #fcfcfc;
    background: #006699;
    /* -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; */
}

.nav>li:hover>a {
    background: #093a54 !important;
    cursor: pointer;
}

.nav>li:active>a {
    background: #062c41 !important;
    cursor: pointer;
}

.nav>li>a.activeLinks {
    background: #062c41 !important;
    cursor: pointer;
}

.nav>li:first-child>a {
    border-radius: 3px 0 0 3px;
    border-left: none;
}


/* .nav > li.nav-search input[type="submit"]:hover { background-color: #4b4441; } */


/* Menu Dropdown */

.nav>li>div {
    position: absolute;
    display: block;
    width: 100%;
    top: 37px;
    left: 0;
    opacity: 0.8;
    visibility: hidden;
    overflow: hidden;
    background: #093a54;
    border-radius: 0;
    padding: 1px 0 0 0;
    /* -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s; */
    height: 340px;
    /* opacity: 0.8 !important; */
}

.nav>li:hover>div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}


/* Menu Content Styles */


/* .nav .nav-column {
  float: left;
  width: 20%;
  padding: 2.5%;
}

.nav .nav-column h3 {
  margin: 20px 0 10px 0;
  line-height: 18px;
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #372f2b;
  text-transform: uppercase;
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column li a {
  display: block;
  line-height: 26px;
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #888888;
}

.nav .nav-column li a:hover { color: #666666; } */

.bg-light {
    background-color: #006699 !important;
    padding: 0px;
}


/* .navbar-light .navbar-toggler-icon {
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
  
} */


/* .topmenu ul li.has-sub>a:after {
  content: '»';
}

li.has-sub>a:after {
  content: '»';
  position: absolute;
  right: 1em;
}
li.has-subNon>a:after {
  content: '';
  position: absolute;
  right: 1em;
}
li.has-sub>a, li.has-subNon>a {
  color: #fff !important;
  font-size: 0.9rem;
} */