<div class="sidebar" id="sidebar" [ngClass]="inputSideStatus ? 'sidebar-tab-active' : 'side-tab-deactive'">

    <div class="scroll-div mb-5">
        <ul class="sidebar-main-style" >            
            <li *ngFor="let mainMenu of HeaderClasss; let i=index;" id="{{mainMenu.id}}" >

                <a [ngClass]="mainMenu.visible === true ? 'hide-drop-icon': 'show-drop-icon' " [routerLink]="[mainMenu.link]"  *ngIf="mainMenu.menu?.length"  (click)="toggleChildren(mainMenu)">
                    <img class="side-icon" src="{{mainMenu.icon}}">{{mainMenu.name}} 
                </a>

                <a [routerLink]="[mainMenu.link]"  *ngIf="!mainMenu.menu?.length"  (click)="toggleChildren(mainMenu)">
                    <img class="side-icon" src="{{mainMenu.icon}}">{{mainMenu.name}}
                </a>

                <app-uitree [data]="mainMenu.menu" *ngIf="mainMenu.visible"></app-uitree>                    

            </li>        
        </ul>
    </div>
    
</div>