$color_1: #009688;
$color_2: #444;
$color_3: #444444;
$background-color_1: #f5f5f5;
$background-color_2: unset;
$background-color_3: #009688;



.sidebar-main-style{
	list-style: none;
	padding: 0;
  }
  .sidebar-main-style-2{
	list-style: none;
  }
  .sidebar-heading{
	box-shadow: unset;
	background: transparent;
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 6px;
	letter-spacing: .1em;
	color: #444;
	cursor: pointer;
	padding: 11px 9px;
	text-transform: uppercase;
	margin: 0;
	width: 100%;
  }
  .sidebar-heading-2 {
	font-weight: 700;
	font-size: 11px;
	line-height: 5px;
	letter-spacing: 0.1em;
	color: #444;
	padding: 11px 9px;
	text-transform: uppercase;
	width: 100%;
  }
  .sidebar-inside{
	img{
	  margin-right: 10px;
	  width: 26px;
	}
  }
  
  .show-drop-icon{
	&::after {
	  content: "";
	  background-image: url(../src/assets/Img/down-arrow.png);
	  display: block;
	  width: 16px;
	  height: 16px;
	  background-repeat: no-repeat;
	  background-size: contain;
	  position: absolute;
	  right: 12px;
	  top: 15px;
	  transform: rotate(0deg);
	}
  }
  .hide-drop-icon{
	&::after {
	  content: "";
	  background-image: url(../src/assets/Img/down-arrow.png);
	  display: block;
	  width: 16px;
	  height: 16px;
	  background-repeat: no-repeat;
	  background-size: contain;
	  position: absolute;
	  right: 12px;
	  top: 15px;
	  transform: rotate(180deg);
	}
  }
  
  .sub-show-drop-icon{
	&::after {
	  content: "";
	  background-image: url(../src/assets/Img/down-arrow.png);
	  display: block;
	  width: 16px;
	  height: 16px;
	  background-repeat: no-repeat;
	  background-size: contain;
	  position: absolute;
	  right: 12px;
	  top: 6px;
	  transform: rotate(0deg);
	}
  }
  .sub-hide-drop-icon{
	&::after {
	  content: "";
	  background-image: url(../src/assets/Img/down-arrow.png);
	  display: block;
	  width: 16px;
	  height: 16px;
	  background-repeat: no-repeat;
	  background-size: contain;
	  position: absolute;
	  right: 12px;
	  top: 6px;
	  transform: rotate(180deg);
	}
  }

.sidebar {
	ul {
		li {
			position: relative;
			margin-bottom: 15px;
			padding: 0px;
			&:hover {
				background-color: $background-color_1;
				padding: 0px;
				a {
					color: $color_1;
					svg {
						path {
							fill: #009688;
						}
					}
				}
				&::before {
					content: '';
					width: 5px;
					height: 100%;
					background-color: $background-color_3;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			&:first-child {
				background-color: $background-color_2;
				padding: 0px;
				&::before {
					content: '';
					width: 5px;
					height: 100%;
					background-color: $background-color_3;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			button {
				&:hover {
					color: $color_1;
					svg {
						path {
							fill: #009688;
						}
					}
				}
				box-shadow: unset;
				padding: 0;
				background: transparent;
				font-style: normal;
				font-weight: 700;
				font-size: 15px;
				line-height: 23px;
				letter-spacing: 0.1em;
				color: $color_3;
				cursor: pointer;
				padding: 11px 9px;
				text-transform: uppercase;
				margin: 0;
				width: 100%;
				text-align: left;
				display: flex;
				align-items: center !important;
				img {
					margin-right: 10px;
					width: 28px;
				}
			}
			a {
				img {
					margin-right: 10px;
					width: 26px;
				}
				color: $color_2;
				font-style: normal;
				font-weight: 700;
				font-size: 15px;
				line-height: 23px;
				letter-spacing: 0.1em;
				color: $color_3;
				cursor: pointer;
				padding: 11px 9px;
				text-transform: uppercase;
				display: block;
				text-decoration: none;
				display: flex;
				align-items: center;
			}
			button.btn-toggle.collapsed {
				&::after {
					content: "";
					background-image: url(../../../../assets/Img/down-arrow.png);
					display: block;
					width: 16px;
					height: 16px;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					right: 12px;
					top: 15px;
					transform: rotate(0deg);
				}
			}
			button.btn-toggle {
				&::after {
					content: "";
					background-image: url(../../../../assets/Img/down-arrow.png);
					display: block;
					width: 16px;
					height: 16px;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					right: 12px;
					top: 15px;
					transform: rotate(180deg);
				}
			}
		}
		li.active {
			background-color: $background-color_1;
			padding: 0px;
			&::before {
				content: '';
				width: 5px;
				height: 100%;
				background-color: $background-color_3;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	.sub-menus {
		ul {
			li {
				&:first-child {
					background-color: $background-color_2;
					background-color: $background-color_2;
					&::before {
						display: none;
					}
				}
				&:hover {
					&::before {
						display: none;
					}
				}
			}
			li.active {
				&::before {
					display: none;
				}
			}
		}
	}
	.sub-menus-child {
		ul {
			li {
				&:first-child {
					&::before {
						display: none;
					}
				}
			}
		}
		margin-left: 20px;
		margin-top: 5px;
	}
	.dropdown-main {
		margin-left: 45px;
		li {
			margin-bottom: 7px;
			button {
				padding: 0;
				margin-bottom: 0;
				font-size: 11px;
				position: relative;
			}
			a {
				padding: 0;
				margin-bottom: 0;
				font-size: 11px;
				position: relative;
			}
			&:hover {
				&::before {
					display: none;
				}
			}
		}
		ul {
			li {
				button.btn-toggle {
					&::after {
						top: 3px;
					}
				}
			}
		}
	}
	.dropdown-sub {
		li {
			&:hover {
				&::before {
					display: none;
				}
			}
			button {
				padding: 0;
				margin-bottom: 0;
				font-size: 12px;
			}
		}
		margin-left: 20px;
	}
}
.circle-list {
	width: 5px;
	height: 5px;
	background: #009688;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 9px;
	left: -15px;
}
.nav {
	>li {
		>div {
			position: absolute;
			display: block;
			width: 100%;
			top: 37px;
			left: 0;
			opacity: 0.8;
			visibility: hidden;
			overflow: hidden;
			background: unset;
			border-radius: 0;
			padding: 1px 0 0 0;
			height: 340px;
		}
		&:hover {
			>div {
				opacity: 1;
				visibility: visible;
				overflow: visible;
			}
		}
	}
}
